header{
    background-color: rgb(195, 83, 163);
    height: 79px;
}

.imagen_logo{
width: 120%;
height: 60px;
}

/*barra y links*/ .navbar .nav-link {    color:     rgb(93, 12, 80);
font-size: 16px;
}       

/* modificar el cambio de color de las opciones al pasar el cursor*/ .navbar .nav-link:hover { color: rgb(255, 255, 255);

}   
.navbar .nav-link:hover {
    /* subrayar la letra al pasar el cursor*/ text-decoration: underline; color: rgb(255, 255, 255);
}

.nav-item{
    margin-left: 20px;
}

.boton2{
    color:  rgb(93, 12, 80);
    text-decoration: none;
    width: 20%;
    background-color: rgb(212, 153, 199);
    margin:auto;
    margin-right: 20px;
}

.letra{
    margin-left: 550px;
}

.carouselMultiItemExample{
    margin-top: 4px;
}

.pie{
    height: 250px;
    margin-top: 5px;
}

footer{ 
    height: 10px;
    background-color: rgba(120, 82, 106, 0.543);
}

.boton{
    
    color: rgb(0, 0, 0);
    background-color: rgb(226, 203, 248);
    margin-left: 130px;
}